
/* 
    Created on : Feb. 24, 2020, 7:54:28 p.m.
    Author     : Jeffrey Boisvert
*/
html,
body {
  height: 100%;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.header{
    text-align: center;
    margin: 0 auto;
}

.content-container{
    padding: 2em;
}


